$black-color:#1B1B1B;
*{
    padding: 0;
    margin: 0;
}
body{
    background:hsl(0, 3%, 13%)
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}
.navbar-logo{
    display: flex;
    align-items: center;
    gap: 10px;

}
.navbar{
min-height: 80px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;
}
.nav-menu{
display: flex;
justify-content: space-between;
align-items: center;
gap:60px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.section, .section1, .block, .block1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.section1 .features, .catalog, .blog, .contact{
    font-size: "Promt";
    font-weight: 500;
    font-size: 16px;
    font-style: medium;
    color:#FFFFFF;
    line-height:100%;
    padding: 10px;
}
.section1 svg{
    fill: #fff;
    padding-top: 10px;
}
.input-cnt{
    display: flex;
    border: 1px solid #FFFFFF;
    border-radius:50px;
    background-color:$black-color;
}
.input-cnt > i{
    min-width: 20px;
    padding: 10px;
    text-align: center;
    background-color:$black-color;
    background-color: 1px solid #FFFFFF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
}
.input-cnt > input{
    outline: none;
    border:none;
    padding: 10px;
}
input{
    padding: 10px 20px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    font-style: medium;
    font-family: "Promt";
    box-sizing: border-box;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-radius:50px;
    background-color:$black-color;
}
input::placeholder{
    color: #FFFFFF;
}
h1{
  text-align: center;
  font-weight: 400;
  font-style: Regular;
  font-size: 88px;
  letter-spacing: 0%;
  color: #FFFFFF;
  line-height: 130px;
}
.secure{
    display: flex;
    gap:12px;
    margin-bottom: 37px;
}
.secure svg{
    padding-top: 10px;
}
.secure p{
  font-family: "Promt";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color:hsl(0, 0%, 63%);
  
}
.push{
  border-radius: 10px;
  background: linear-gradient(#7E61FF, #FFBD7E);
  font-family: "Promt";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  color:#FFFFFF;
  text-align: center;
  padding: 12px 25px;
  width: 35%;
  margin-bottom: 180px;
  margin-left: 45px;
}
.network{
display: flex;
gap:38px;
position: relative;
right: 174.74
}
.network p{
  font-family: "italic";
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: 0%;
  color:#FFFFFF;
  text-transform: uppercase;
  margin-top: 0px;
  
}
.cube svg{
width:766.79px;
height:741px;
top: 560.95px;
left:576.19px;
}
.leanmore{
    background:linear-gradient(#FFFFFF14,#7E61FF30) ;
    margin-bottom: 48px;
}
.leanmore h2{
    font-weight: 400;
    font-family: "italic";
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    padding: 24px 33px ;
    color: #FFFFFF;
}
.leanmore p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: right;
    padding:15px 33px 35px 111px;
}
.svgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:27px;
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
}
.data span{
    font-family: "Promt";
    font-weight: bold;
    font-style: Regular;
    font-size: 36px;
    line-height: 26px;
    color:#FFFFFF;
}
.data p{
    font-family: "Promt";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 26px;
    color:hsl(0, 0%, 63%);
    margin-bottom: 80px;
}
.transaction{
    font-family: "italic";
    font-weight: 400;
    font-style: Regular;
    font-size: 2opx;
    line-height: 42px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.information{
    display: flex;
    gap:34px;
}
.blochchain{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:267px;
    margin: 0 20px;
}
.blochchain h1{
    text-align: left;
    font-weight: 400;
    font-family: "Regular";
    font-size: 75px;
    line-height: 115px;
}
.blochchain p{
    font-weight: 400;
    font-family: "Regular";
    font-size: 16px;
    line-height: 26px;
    color:hsl(0, 0%, 63%);
}
.creation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    margin: 0 20px;
}
.cubix{
    margin-top: 90px;
    background:linear-gradient(#FFFFFF14,#7E61FF17 );
}
.cubix p{
padding: 41px 72px 55px 54px;
color:hsl(0, 0%, 63%);
font-weight: 400;
font-style: "Regular";
font-size: 16px;
line-height: 26px;
}
.more{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.more .info{
    padding: 89px 139px 37px 54px;
    width: 76px;
}
.more svg{
    padding-right: 71px;
}
.whitefone{
    background-color: #C4C4C4;
    width: 434px;
    height: 426px;
}
.sectorsolution{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 106px;
}
.sectorsolution a{
    text-decoration: none;
    font-weight: 400;
    font-family: "Regulary";
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color:#FFFFFF;
}
h3{
    font-weight: 500;
    font-style:Medium;
    font-size: 20px;
 
    line-height: 26px;
    color:#FFFFFF;
    margin-bottom: 37px;
}
.optimize p{
    font-weight: 400;
    font-style:"Regular";
    font-size: 16px;
    line-height: 26px;
    color:hsl(0, 0%, 63%);
    width: max-content;
    margin-bottom: 37px;
}
.revie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 58px;
    margin: 10px 110px;
}
.feedback{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#FFFFFF14, #7E61FF17);
}
.feedback p{
    color:hsl(0, 0%, 63%);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding:32px 53px 71px 59px;
}
.feedback svg{
    padding: 37px 0 27px 59px; 
}
.feedback span{
    padding: 71px 60px 49px 59px; 
    color:hsl(0, 0%, 63%);
}
.feedback b{
    color: #FFFFFF;
}
.deploy{
    display: flex;
    align-items: flex-start;
    gap: 85px;
    padding-bottom: 58px;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 107px;
    margin-top: 98px;
}
.main-section3 p{
    text-align: center;
    color:hsl(0, 0%, 63%);
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    // margin-bottom: 98px;
}
.payment-section{
    background: linear-gradient(#FFFFFF14,#7E61FF17);
}
.payment-section p{
    text-align: left;
}
.payment-section h3{
    padding: 43px 0px 42px 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    width: max-content;
}
.payment-section .svg{
    background-color:linear-gradient(#7E61FF,#FFBD7E);
    font-size: 32px;
    line-height: 30px;
    font-family: "Promt";
    padding:42px 20px 75px 48px;
}
.payment-section b{
    color:#FFFFFF;
    font-size: 80px;
    line-height: 30px;
    font-weight: 400;
}
.payment-section code{
    color: #FFFFFF;
    font-size: 48px;
    line-height: 30px;
    font-weight: 400;
}
.payment-section small{
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    color:hsl(0, 0%, 63%); 
}
.payment-section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:hsl(0, 0%, 63%); 
    padding: 41px 0px 0px 49px;
}
.payment-cash h4{
    padding: 41px 0px 23px 49px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#FFFFFF;
}
.support1, .support2{
    padding-left: 49px;
    gap: 16px;
    text-align: left;

}
.child1{
    display: flex;
    align-items: center;
    gap:16px;
   
}
.child1 span{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: regular;
    color:hsl(0, 0%, 63%);
}
.getthis{
    text-align: center;
    width: max-content;
    padding:23px 293px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background: linear-gradient(#FFFFFF80, #FFFFFF00);
    border-radius: 1px;
}
.platata{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.platata h1{
    text-align: left;
    font-size: 75px;
    line-height: 115px;
    font-weight: 400;
    color: linear-gradient(#FFFFFF,#FFFFFFB2 );
}
.platata p, .plata{
    color:hsl(0, 0%, 63%);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.nftplatform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
.smart-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:130px;
}

.smart-block p{
    color:hsl(0, 0%, 63%);
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.smart-block svg{
     padding-right: 40px;
     padding-bottom: 55px;
}
ul li{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:hsl(0, 0%, 63%);
    border-bottom: 1.5px solid #686464 ;
    text-align: center;
    list-style: none;
}
.startbutton{
  border-radius: 10px;
  background: linear-gradient(#7E61FF, #FFBD7E);
  font-family: "Promt";
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  color:#FFFFFF;
  text-align: center;
  width: 25%;
  padding: 12px 25px;
  margin-left: 164px;
  margin-bottom: 50px;
}
// .smart{
// display: flex;
// align-items: center;
// justify-content: space-between;
// }
.market{
  text-align: center;
  font-family: "Prompt";
  font-style:italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 114px;
}
.ipsumcontetnt, .logocontent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-top: 50px;
}
.logocontent span{
  color:#7E61FF70;
}
.statistic-block {
  gap:12px;
  padding-right: 121px;
}
.statistic-block span {
  font-family: "Prompt";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  padding-top: 45px;
  padding-left: 12px;
}
.statistic-block svg{
    padding-left: 39px;
    padding-top: 70px;
}
.block-info{
  display: flex;
  justify-content: space-between;
}
.logocontent svg{
   padding-top: 0px;
  padding-right: 0px;
}
.line svg{
  padding-top: 34px;
  padding-right: 31px;
}
.statistic{
  background:linear-gradient(#FFFFFF14,#7E61FF17 ) ;
}
.node-block{
  padding-top: 45px;
}
.node-block p{
  font-family: "Prompt";
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  color:hsl(0, 0%, 63%);
  padding: 0px 134px 60px 0px;
}
.node-block span{
  font-family: "Prompt";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.graph-info{
  display: flex;
  align-items: center;
}
.graph-info .numberstatic{
  font-family: "Prompt";
  font-style: Regular;
  font-size: 64px;
  line-height: 100%;
  padding-left: 10px;
  padding-right: 84px;
  color:#FFFFFF;
}
.graph{
    padding-bottom: 73px;
}
.graph svg{
    padding-right: 17px;
}
.main-section5{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:132px;
  margin: 0 200px;
}
form{
background: linear-gradient(#FFFFFF14,#7E61FF17);
padding:65px 78px ;
margin-top: 198px;
}
.personinfomation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
}

.nameinfo{
    color:#FFFFFF;
    font-family: "Prompt";
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
}
.personinfomation input{
    padding: 13px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid #686464;
    background: linear-gradient(#FFFFFF14,#7E61FF17);
}
.emailadress input{
    padding: 13px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 1px solid #686464;
    width: 100%;
    margin-bottom: 64px;
    background: linear-gradient(#FFFFFF14,#7E61FF17);
}
.submit input{
    padding: 12px 25px;
    color:#FFFFFF;
    background:linear-gradient(#7E61FF, #FFBD7E);
    border-radius: 10px;
    width: 30%;
}
input::placeholder{
    color:hsla(0, 0%, 100%, 0.43);
}
.logofooter{
    border-top: 2px solid #FFFFFF26;
    padding-top: 90px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 24px;
}
.list-items a{
    font-size: "Prompt";
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.63);
    text-align: left;
    text-decoration: none;
}
.footer-block{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF26;
    margin-bottom: 75px;
    margin: 10px 50px;
}
.footer-infomation{
    color:hsla(0, 0%, 100%, 1);
    font-family: "Prompt";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 150%;
}
.mini-infomation{
    font-size: "Prompt";
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.63);
}
.footer-section5 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section5 ul li{
    gap: 54px;
}
.footer-section5{
    margin-bottom: 103px;
}
.finish-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ipsum-block {
    display: flex;
    align-items: center;
    gap: 10px;
}
.ipsum-block span{
    color: hsla(0, 0%, 100%, 0.39);
}
.web-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
    padding-top: 115px;
} 
.d-none{
    display: none;
}
.button-close{
    display: none;
}
// .d-flex{
//     display: flex;
// }
@media (max-width: 1326px){
    .blochchain h1{
        font-size: 48px;
    }
    .creation, .revie, .offer, .nftplatform, .platata, .main-section5{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }
    h1, .platata h1{
        font-size: 48px;
        line-height: 100%;
        line-height: 100%;
        margin-bottom: 31px;
        margin-left: 30px;
    }
    .platata p{
        margin-bottom: 60px;
    }
    .startbutton{
        margin-top: 50px;
    }
}
@media (max-width: 1165px){
 .main-section,.revie, .creation, .section1,.section2, .offer, .main-section5{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap:10px;
        margin-bottom: 0px;
        margin-top: 30px;
        line-height: 150%;
    }
    .push{
        margin-bottom: 60px;
        margin-left: 45px;
    }
    .input-cnt{
        width: 40%;
    }
    .input-cnt input {
        width: 75%;
    }
    .footer-block, .finish-page, .web-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
    .logofooter{
        text-align: left;
    }
    // .section{
    //     display: none;
    // }

     h1, .blochchain h1, .platata h1{
        font-size: 48px;
        line-height: 100%;
     }
     .cube svg{
        width: 600px;
     }
     .main-section5{
        margin: 0 10px;
   }
}
@media (max-width: 850px) {
    h1, .platata h1{
        font-size: 40px;
        line-height:150%;
    }
    .cube svg{
        width: 350px;
    }
    .blochchain{
        gap:10px;
        margin-top: 30px;
    }
    .network{
        margin-bottom: 30px;
    }
    .market{
        margin-top: 0px;
    }
        .submit input{
        width: 53%;
    }
    .main-section5{
        margin: 0 10px;
   }
}
@media(max-width:1000px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
       .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
       .hamburger.active .bar:nth-child(3){
         transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -120%;
        top:50px;
        background-color: hsl(0, 0%, 20%);
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-bottom: 100px;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .statistic, .graph-info, .personinfomation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
        .submit input{
        width: 53%;
    }
    .main-section5{
        gap:40px;
    }
    .feedback{
    padding: 0 122px;
  }

}
@media (max-width:700px) {
    h1, .blochchain h1{
        font-size: 30px;
    }
    .market{
        padding-bottom: 10px;
    }
    .statistic, .graph-info, .personinfomation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .submit input{
        width: 53%;
    }
    .blochchain{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .revie{
        margin: 0px;
    }
}
@media(max-width:520px){
    h1{
        font-size: 22px;
        text-align: center;
        line-height: 160%;
    }
    .network p{
        font-size: 18px;
    }
    .blochchain, 
    .network, 
    .networking, 
    .more, 
    .sectorsolution,
    .smart, 
    .smart-block, 
    .statistic, 
    .graph-info, 
    .nftplatform,
    .deploy{
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }
    .blochchain p{
        text-align: center;
    }
    .section cube{
        width: 300px;
        position: relative;
    }
    .section cube svg{
        position: absolute;
        top:10px
    }
    
    .getthis{
        padding: 20px 200px
    }
    .deploy{
        gap:0px;
    }
    .graph{
        width: 180px;
    }
    .startbutton{
        margin-left: 0;
        margin-top: 10px;
        width: 50%;
    }
    .revie{
        margin: 0px;
    }
    .leanmore h2 {
        padding: 24px 28px;
    }
}
@media(max-width:400px){
    form{
        padding:20px 126px;
    }
}

@media(max-width:344px){
    .plata{
        padding: 0 20px;
    }
    .section cube{
        width: 150px;
    }
    .footer-block, .finish-page{
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-left: 131px;
    }
    .navbar{
        gap: 100%;
    }
    .section cube{
        width: 205px;
    }
        .push{
            width: 40%;
            margin-left: 0;
        }
  main h1{
        font-size: 20px;
        text-align: center;
        line-height: 188%;
        margin-top: 31px;
        margin-left: 198px;
  }
  .feedback{
    padding: 0 136px;
  }
  .main-section3 p{
    padding-left: 198px;
  }
  .feedback p{
    width: 100%;
  }
}




























